/* ////////////////////// */
/* //  MOBILE LAYOUT  /// */
/* ////////////////////// */

body{
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    " header "
    " main   ";
}

main {
    grid-area: main;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px repeat(6, 300px)  repeat(4, 350px);
    grid-template-areas: 
    " nav "
    " traffic "
    " bar "
    " donut"
    " social "
    " social"
    " social"
    " newmembers"
    " recent"
    " message"
    " settings";
}

header {
    position: sticky;
    width: 100%;
    height: 60px;
    top: 0;
}

nav {
    position: sticky;
    width: 100%;
    height: 60px;
    top: 60px;
}

/* SOCIAL GRID */

.social-data {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "logo name"
    "logo count";
}

.logo   {
    grid-area: logo;
}
.name {
    grid-area: name;
}

.count {
    grid-area:count;
}


/* ////////////////////// */
/* ////  MEDIA QUERY  /// */
/* ////////////////////// */

@media(min-width: 768px) {

}

@media(min-width: 1024px) {
    
}


/* ////////////////////// */
/* /////  SELECTORS  //// */
/* ////////////////////// */


.traffic {
    grid-area:traffic;
}

.bar-graph {
    grid-area:bar;
    
}

.donut {
    grid-area:donut;
    
}

.social-stats {
    grid-area:social;
}

.new-members {
    grid-area:newmembers;
    background-color: peachpuff;
}

.recent {
    grid-area:recent;
    background-color: palevioletred;
}

.message {
    grid-area:message;
}

.settings {
    grid-area:settings;
}


/* ////////////////////// */
/* // DETTINGS SELECTORS /*/
/* ////////////////////// */

.settings h4 {
    grid-area: settings-h4;
}

.notifications{
    grid-area:notifications;
}

.switch1 {
    grid-area: switch1;
}

.set-public {
    grid-area: set-public;
}

.switch2 {
    grid-area: switch2;
}

.save-btn {
    grid-area:save-btn;
}

.cancel-btn {
    grid-area:cancel-btn;
}

.settings select {
    grid-area:settings-select;
}


/* ////////////////////// */
/* // MESSAGES SELECTORS /*/
/* ////////////////////// */

.search-usr {
    grid-area:search-usr;
}

.message-usr {
    grid-area:message-usr;
}

.message button {
    grid-area:send-message;
}

.message h4 {
    grid-area:message-title;
}